@media(min-width: $breakpoint_mobile) and (max-width: 768px) {
	.auction {
		
		.auction__inner {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			.left {
				margin-right: 0;


			}
			.right {
				margin-left: 0;
				margin-top: 32px;

				h1 {
					color: $neutrals-8;
					width: 100%;
				}
				.title {
					.title__inner {
						display: flex;
						align-items:center;
						flex-wrap: wrap;
						margin-top: 20px;
						justify-content: space-between;

						.creator {
							display: flex;
							align-items: center;

							margin-right: 0;

							img {
								object-fit: cover;
								margin-right: 8px;
							}

							.creator_text {
								display: flex;
								flex-direction: column;
							}
						}
						.instant-price {
							display: flex;
							align-items: center;
							.img {
								position: relative;
								background-color: $primary-4;
								width: 40px;
								height: 40px;
								border-radius: 64px;
								margin-right: 8px;
								svg {
									position: absolute;
									fill: $neutrals-8;
									top: 20%;
									left: 8px;

								}
							}
							.instant_text {
								display: flex;
								flex-direction: column;
							}
						}
						.caption-2 {
							color: $neutrals-4;
						}
						.caption_bold {
							color: $neutrals-8;
						}

					}
				}
				.current-bid {
					width: 100%;
					background-color: $neutrals-2;
					margin-top: 40px;
					padding: 32px 0;
					border-radius: 24px;
					.bid {
						text-align: center;
						.body-2_bold {
							color: $neutrals-8;

						}
						h2 {
							color: $neutrals-8;
						}
						.body-1_bold {
							color: $neutrals-4;

						}
					}
					.time-auction {
						text-align: center;
						.body-2_bold {
							display: block;
							color: $neutrals-8;
							margin-top: 24px;
						}
						.time {

							display: flex;
							justify-content: center;
							margin-left: 35px;
							width: 311px;
							.hrs, .min, .sec {
								margin-right: 35px;
								h3 {
									color: $neutrals-8;
								}
								span {
									color: $neutrals-4;
									margin-top: 0;
								}
							}
						}
					}
				}
				.btns {
					margin-top: 32px;
					button {
						display: flex;
						flex-direction: column;
						align-items: center;
						width: 100%;
						margin-top: 8px;
					}
				}
				.btn-arrows {
					display: flex;
					justify-content: center;
					margin-top: 40px;
					button {
						position: relative;
						width: 40px;
						height: 40px;
						
						margin-right: 8px;
						

						&:hover {
							
							outline: 2px solid $neutrals-3;
						}
						svg {
							position: absolute;
							top: 8;
							left: 16%;
						}

					}
				}
			}
		}
	}
	.videoPlayer {
	    width: 311px;


	    .video {
	        width: 311px;
	        height: 478px;

	    }
	    .controls {
	        width: 295px;
	        height: 40px;


	        .video-track {



	        }
	        .play {

	            margin-right: 24px;
	            svg {
	                width: 24px;
	                height: 24px;
	            }

	        }
	        .pause {

	            margin-right: 24px;
	            svg {
	                width: 24px;
	                height: 24px;
	            }
	            &:hover {
	                fill: $neutrals-8;
	            }
	        }

	        .volume-on {

	            margin: 0 24px;
	            svg {
	                width: 24px;
	                height: 24px;
	            }

	        }
	        .volume-off {
	            margin: 0 24px;
	            svg {
	                width: 24px;
	                height: 24px;
	            }

	        }
	        .fullscreen {

	            svg {
	                width: 24px;
	                height: 24px;
	            }

	        }

	        .time {
	            display: none;
	        }
	    }

	}
}




@media(min-width: $breakpoint_tablet) and (max-width: 1024px) {
	.auction .auction__inner {
		flex-wrap: wrap;
		justify-content: center;
	}
	.auction .auction__inner .right .title .title__inner {
		justify-content: space-around;
	}
	.auction .auction__inner .left {
		margin-right: 0;
	}
	.auction .auction__inner .right h1 {
		margin-top: 32px;
	}
	.auction .auction__inner .right .current-bid .time-auction .time {
		margin-left: 0;
		width: auto;
	}
	.auction .auction__inner .right {
		margin-left: 0;
	}

	.auction .auction__inner .right .btn-arrows button svg {
		display: none;
	}
	.videoPlayer {
		width: 700px;
	}
	.videoPlayer .video {
		width: 700px;
		height: 700px;
	}
	.videoPlayer .controls {
		width: 685px;
	}
	.videoPlayer .controls .time {
		display: block;
	}
	.videoPlayer .controls .play {
		margin-right: 0;
	}
	.videoPlayer .controls .pause {
		margin-right: 0;
	}
	.videoPlayer .controls .volume-off {
		margin: 0;
	}
	.videoPlayer .controls .volume-on {
		margin: 0;
	}
	.videoPlayer .controls .video-track {
		width: 450px;
	}
}