.auction {

	.auction__inner {
		display: flex;
		justify-content: space-between;

		.left {
			margin-right: 64px;
		}
		.right {
			margin-left: 64px;


			h1 {
				color: $neutrals-8;
				width: 100%;
			}
			.title {
				.title__inner {
					display: flex;
					align-items:center;
					flex-wrap: wrap;
					margin-top: 20px;


					.creator {
						display: flex;
						align-items: center;
						margin-right: 66px;

						img {
							object-fit: cover;
							margin-right: 8px;
						}

						.creator_text {
							display: flex;
							flex-direction: column;
						}
					}
					.instant-price {
						display: flex;
						align-items: center;
						.img {
							position: relative;
							background-color: $primary-4;
							width: 40px;
							height: 40px;
							border-radius: 64px;
							margin-right: 8px;
							svg {
								position: absolute;
								fill: $neutrals-8;
								top: 20%;
								left: 8px;

							}
						}
						.instant_text {
							display: flex;
							flex-direction: column;
						}
					}
					.caption-2 {
						color: $neutrals-4;
					}
					.caption_bold {
						color: $neutrals-8;
					}

				}
			}
			.current-bid {
				width: 100%;
				background-color: $neutrals-2;
				margin-top: 40px;
				padding: 32px 0;
				border-radius: 24px;
				.bid {
					text-align: center;
					.body-2_bold {
						color: $neutrals-8;

					}
					h2 {
						color: $neutrals-8;
					}
					.body-1_bold {
						color: $neutrals-4;

					}
				}
				.time-auction {
					text-align: center;
					.body-2_bold {
						display: block;
						color: $neutrals-8;
						margin-top: 24px;
					}
					.time {
						display: flex;
						justify-content: center;
						margin-right: -35px;
						.hrs, .min, .sec {
							margin-right: 35px;
							h3 {
								color: $neutrals-8;
							}
							span {
								color: $neutrals-4;
								margin-top: 0;
							}
						}
					}
				}
			}
			.btns {
				margin-top: 32px;
				button {
					display: flex;
					flex-direction: column;
					align-items: center;
					width: 100%;
					margin-top: 8px;
				}
			}
			.btn-arrows {
				display: flex;
				margin-top: 40px;
				button {
					position: relative;
					width: 40px;
					height: 40px;
					
					margin-right: 8px;
					

					&:hover {
						
						outline: 2px solid $neutrals-3;
					}
					svg {
						position: absolute;
						top: 8;
						left: 16%;
					}

				}
			}
		}
	}
}



@media(max-width: 375px) {
	.auction {

		.auction__inner {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			.left {
				margin-right: 64px;


			}
			.right {
				margin-left: 0;
				margin-top: 32px;

				h1 {
					color: $neutrals-8;
					width: 100%;
				}
				.title {
					.title__inner {
						display: flex;
						align-items:center;
						flex-wrap: wrap;
						margin-top: 20px;
						justify-content: space-between;

						.creator {
							display: flex;
							align-items: center;

							margin-right: 0;

							img {
								object-fit: cover;
								margin-right: 8px;
							}

							.creator_text {
								display: flex;
								flex-direction: column;
							}
						}
						.instant-price {
							display: flex;
							align-items: center;
							.img {
								position: relative;
								background-color: $primary-4;
								width: 40px;
								height: 40px;
								border-radius: 64px;
								margin-right: 8px;
								svg {
									position: absolute;
									fill: $neutrals-8;
									top: 20%;
									left: 8px;

								}
							}
							.instant_text {
								display: flex;
								flex-direction: column;
							}
						}
						.caption-2 {
							color: $neutrals-4;
						}
						.caption_bold {
							color: $neutrals-8;
						}

					}
				}
				.current-bid {
					width: 100%;
					background-color: $neutrals-2;
					margin-top: 40px;
					padding: 32px 0;
					border-radius: 24px;
					.bid {
						text-align: center;
						.body-2_bold {
							color: $neutrals-8;

						}
						h2 {
							color: $neutrals-8;
						}
						.body-1_bold {
							color: $neutrals-4;

						}
					}
					.time-auction {
						text-align: center;
						.body-2_bold {
							display: block;
							color: $neutrals-8;
							margin-top: 24px;
						}
						.time {
							display: flex;
							justify-content: center;
							margin-right: -35px;
							.hrs, .min, .sec {
								margin-right: 35px;
								h3 {
									color: $neutrals-8;
								}
								span {
									color: $neutrals-4;
									margin-top: 0;
								}
							}
						}
					}
				}
				.btns {
					margin-top: 32px;
					button {
						display: flex;
						flex-direction: column;
						align-items: center;
						width: 100%;
						margin-top: 8px;
					}
				}
				.btn-arrows {
					display: flex;
					justify-content: center;
					margin-top: 40px;
					button {
						position: relative;
						width: 40px;
						height: 40px;
						
						margin-right: 8px;
						

						&:hover {
							
							outline: 2px solid $neutrals-3;
						}
						svg {
							position: absolute;
							top: 8;
							left: 16%;
						}

					}
				}
			}
		}
	}
}


