.CTA {
	margin-top: 80px;
	padding-bottom: 80px;
	border-bottom: 1px solid $neutrals-3;
	.CTA__inner {
		display: flex;
		align-items: center;
		.left {
			.hairline-1 {
				color: $neutrals-4;
			}
			h1 {
				margin-top: 12px;
				margin-bottom: 12px;
				color: $neutrals-8;
			}
			.body-2 {
				color: $neutrals-4;
			}
			.btns {
				display: flex;
				margin-top: 40px;

				button {
					margin-right: 16px;
				}
			}
		}
		.right {
			img {
				width: 640px;
				height: 640px;
				object-fit: cover;
			}
		}
	}
}



@media(max-width: 375px) {
	.CTA .CTA__inner {
		justify-content: center;
		flex-direction: column;
		text-align: center;
	}
	.CTA .CTA__inner .left h1 {
		margin-top: 12px;
		margin-bottom: 20px;
	}
	.CTA .CTA__inner .right img {
		margin-top: 40px;
		width: 100%;
		height: 311px;
	}
	.CTA .CTA__inner .left .btns {
		flex-direction: column;
		margin-bottom: -16px;
	}

	.CTA .CTA__inner .left .btns button {
		width: 100%;
		margin-bottom: 16px;
		
	}
	.CTA .CTA__inner .left .btns button > a {
		margin: 0 auto;
	}

}