@media(min-width: $breakpoint_mobile) and (max-width: 768px)  {
	.header {
		margin-top: 48px;
		height: 60px;
		border-bottom: none;
		.header__inner {
			display: flex;
			justify-content: space-between;
			align-items: center;


			.burger {
				display: block;
				position: relative;
				width: 32px;
				height: 32px;
				&::after {
					content: '';
					position: absolute;
					width: 21px;
					height: 3px;
					border-radius:50px;
					background-color: $neutrals-4;
					top: 10px;
					left: 5px;

				}
				&::before {
					content: '';
					position: absolute;
					width: 21px;
					height: 3px;
					border-radius:50px;
					background-color: $neutrals-4;
					bottom: 10px;
					left: 5px;

				}
			}
			.left {

				.logo {
					display: flex;
					align-items: center;
					justify-content: space-between;
					position: relative;

					img {
						width: 32px;
						height: 32px;
						object-fit: cover;
						margin-right: 8px;
					}
					h4 {
						color: $neutrals-7;
						font-family: 'Poppins-semibold', sans-serif;
						font-size: 24px;
						line-height: 32px;
						letter-spacing: .02em;
						margin-right: 32px;

					}
					.fix {
						display: none;


					}

					&:after {
						display: none;
					}


				}

			}
			.right {
				display: none;


			}
		}
	}
}
@media(min-width: $breakpoint_tablet) and (max-width: 1024px) {
	.header .header__inner .burger {
		display: none;
	}
	.header .header__inner .right {
		display: flex;
	}
	.header .header__inner .right form {
		width: 210px;
	}
	.header .header__inner .right form input {
		width: 210px;
	}
}
