h1, h2, h3, h4 {
	font-family: 'DMSans-Bold', sans-serif;
	color: $neutrals-2;
}

.hero {
	font-family: 'DMSans-Bold', sans-serif;
	font-size: 96px;
	color: $neutrals-2;
	line-height: 96px;
	letter-spacing: -.02em;
}

h1 {
	font-size: 64px;
	line-height: 64px;
	letter-spacing: -.02em;
}
h2 {
	font-size: 48px;
	line-height: 56px;
	letter-spacing: -.02em;
}
h3 {
	font-size: 40px;
	line-height: 48px;
	letter-spacing: -.01em;
}
h4 {
	font-size: 32px;
	line-height: 40px;
	letter-spacing: -.01em;
}



.body-1 {
	font-family: 'Poppins-regular', sans-serif;
	font-size: 24px;
	line-height: 32px;
	letter-spacing: -.01em;
	color: $neutrals-2;
}
.body-1_bold {
	font-family: 'Poppins-SemiBold', sans-serif;
	font-size: 24px;
	line-height: 32px;
	color: $neutrals-2;
}
.body-2 {
	font-family: 'Poppins-regular', sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: $neutrals-2;
}
.body-2_bold {
	font-family: 'Poppins-medium', sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: $neutrals-2;
}



.caption {
	font-family: 'Poppins-regular', sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: $neutrals-2;
}
.caption_bold {
	font-family: 'Poppins-medium', sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: $neutrals-2;
}
.caption-2 {
	font-family: 'Poppins-regular', sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: $neutrals-2;
}
.caption-2_bold {
	font-family: 'Poppins-semibold', sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: $neutrals-2;
}



.hairline-1 {
	font-family: 'Poppins-bold', sans-serif;
	font-size: 16px;
	line-height: 16px;
	color: $neutrals-2;
}
.hairline-2 {
	font-family: 'Poppins-bold', sans-serif;
	font-size: 12px;
	line-height: 12px;
	color: $neutrals-2;
}


.button-1 {
	font-family: 'DMSans-bold', sans-serif;
	font-size: 16px;
	line-height: 16px;
	color: $neutrals-2;
}
.button-2 {
	font-family: 'DMSans-bold', sans-serif;
	font-size: 14px;
	line-height: 16px;
	color: $neutrals-2;
}